body {
    background-color: #f2f2f2;
    font-family: Arial;
}

.calculator {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px black;
    margin: 3rem auto;
    max-width: 500px;
    padding: 1.6rem;
}